.conteudo{
    display: flex;
    justify-content: space-between;
}


.cartao{
    background-color: black;
    color: red; 
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33%-6rem);
    margin: 1rem 1rem;
    font-size: 40px;

    text-align: center;
}


footer{


    background-color: blue;
    position: fixed;
    bottom: 0;
    width: 100%;

}

